/* SwayNC config – Night Owl */

@define-color noti-border-color #82aaff;
@define-color noti-bg #011627;
@define-color noti-bg-alt #0b253a;
@define-color noti-bg-hover #0b253a;
@define-color text-color #d6deeb;

* {
    font-family: 'Iosevka Nerd Font';
    font-weight: bold;
    font-size: 1rem;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
    opacity: 1;
    background: #0b253a;
    border-radius: 10px;
}

.notification-row {
    outline: none;
}

.notification {
    background: #011627;
    padding: 7px 7px 7px 0px;
    border-radius: 10px;
    border: 1px solid #82aaff;
}

.notification-group {
    background-color: transparent;
    border-radius: 10px;
}

.image {
    margin-right: 12px;
    margin-left: 15px;
    border-radius: 12px;
    padding: 0;
}

.close-button {
    background: #ef5350;
    color: #011627;
    text-shadow: none;
    padding: 0;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 5px;
}

.close-button:hover {
    background: #ff6b6b;
    transition: all 0.15s ease-in-out;
}

.notification-action {
    border-top: none;
    border-radius: 10px;
    background: #011627;
    color: #7fdbca;
    padding: 0px;
    min-height: 0px;
    min-width: 0px;
}

.notification-action label {
    padding: 0px;
    margin: 0;
    font-size: 0.8rem;
    font-family: monospace;
    color: #7fdbca;
}

.notification-default-action {
    margin: 0;
    padding: 0;
    font-size: 0.1rem;
    border-radius: 10px;
    background: #011627;
}

.notification-default-action:hover,
.notification-action:hover {
    color: #d6deeb;
    background: #0b253a;
}

.inline-reply-entry {
    background: #0b253a;
    color: #d6deeb;
    caret-color: #82aaff;
    border: 1px solid #82aaff;
    border-radius: 10px;
}

.inline-reply-button {
    font-size: 0.5rem;
    margin-left: 4px;
    background: #011627;
    border: 1px solid #82aaff;
    border-radius: 10px;
    color: #d6deeb;
}

.body-image {
    margin-top: 6px;
    border-radius: 10px;
}

.summary {
    font-size: 0.9rem;
    color: #82aaff;
}

.time {
    font-size: 0.8rem;
    color: #c792ea;
    margin-right: 18px;
}

.body {
    font-size: 0.8rem;
    color: #d6deeb;
}

.control-center {
    background: #011627;
    border: 1px solid #82aaff;
    color: #d6deeb;
    border-radius: 10px;
}

.widget-title {
    color: #82aaff;
    background: #0b253a;
    padding: 3px 6px;
    margin: 5px;
    font-size: 1rem;
    border-radius: 10px;
}

.widget-title > button:hover {
    background: #ecc48d;
    color: #011627;
}

.widget-dnd {
    background: #0b253a;
    padding: 3px 6px;
    margin: 5px;
    border-radius: 12px;
    font-size: 0.5rem;
    color: #d6deeb;
}

.widget-dnd > switch {
    border-radius: 12px;
    background: #82aaff;
}

.widget-dnd > switch:checked {
    background: #c792ea;
}

.widget-dnd > switch slider {
    background: #011627;
}

.widget-label > label {
    font-size: 1rem;
    color: #d6deeb;
}

.widget-mpris {
    color: #d6deeb;
    background: #0b253a;
    padding: 3px 6px;
    margin: 5px;
    border-radius: 10px;
}

.widget-buttons-grid {
    color: #d6deeb;
    padding: 2px;
    margin: 5px;
    border-radius: 10px;
    background: #011627;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    margin: 1px;
    background: #0b253a;
    border-radius: 10px;
    color: #d6deeb;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
    background: #82aaff;
    color: #011627;
}

.notification.low progress,
.notification.normal progress {
    background-color: #7fdbca;
    border-radius: 12.6px;
}
